# Maven
!target/classes/server.jar
target/classes/META-INF
target/classes/server
target/classes/client
target/classes/MANIFEST.MF
target/test-classes
target/generated-sources
target/generated-test-sources
#.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
data/inscription.txt
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-archiver/pom.properties
target/surefire-reports/server.AppTest.txt
target/surefire-reports/TEST-server.AppTest.xml
