# Maven
!target/classes/server.jar
target/classes/META-INF
target/classes/server
target/classes/client
target/classes/MANIFEST.MF
target/test-classes
target/generated-sources
target/generated-test-sources
#.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
